.slick-prev,  .slick-next{
/*     background-color:  !important; */
    width: 2.5rem !important;
    height: 2.5rem !important;
    z-index: 999;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 1px #555;
}
.slick-prev:hover,  .slick-next:hover{
    box-shadow: 1px 1px 2px 1px #fff;
    border: 1px solid #555;
}
.slick-prev{
	left: 1rem !important;
}
.slick-next{
	right: 1rem !important;
}